body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
}


body, ul {
  margin: 0;
  padding: 0;
}

nav {
    background-color: #d6d5d5;
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    /* 0 refers to top and bottom and 20
    to left andd right   */
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 10px;

}

nav li a {
  text-decoration: none;
  color: black;
}

header {
    top: 100px;
    position: relative;
    margin-bottom: 220px;
}

h1, h3 {
  font-family: 'Cormorant', serif;
}

h2 {
  font-size: 20px
}

h4 {
  font-family: Ubuntu
}
.bigger {
    font-size: 50px;
    line-height: 200%;
        margin: 0px;
}

.button {
  border: 1px solid black;
text-decoration: none;
color: black;
padding: 10px 30px;
margin-top: 5px;
display: inline-block;
border-radius: 20px;
}

.buttonsobre {
  border: 1px solid black;
text-decoration: none;
color: black;
padding: 5px 15px;
margin-top: 3px;
display: inline-block;
border-radius: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


header img {
  max-width: 18%;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 10px;
}

p {
  line-height: 150%;
  font-weight: normal;


}

.project {
    margin: 30px 0px;
    padding: 50px;
}

.grey{
  background-color: #d6d5d5;
}

.project .button {
  margin-top: 10px
}

.footer {
    margin: 0px 0px;
    padding: 20px;
    position: relative;
  }

footer img {
  margin: 15px 15px;
}

div.box{
  text-align: center;
}

.center {
  text-align: center;
}

.wrapper{
  max-width: 300px;
  width: 50%;
  margin: 50px auto 50px;
}

.button_grp ul{
  display: flex;
  list-style-type: none;
}

.button_grp ul li{
  background: #dcdcdc;
padding: 10px 15px;
margin: 10px;
border-radius: 5px;
min-width: 80px;
text-align: center;
cursor: pointer;
transition: all 0.2s ease;
box-shadow: 1px 1px 3px rgba(0,0,0,0.125);
}

.button_grp ul li.active,
.button_grp ul li:hover{
  background: #FFB67D;
  color: #fff;
}
